$themeBgColor: #fff;
$headerBgColor:#fff;
$foodererBgColor:#000;
$themeColor: #f1f1f1;
$themeTextColor:rgb(120,115,111);
$navActive:#ffe4c4;
$heighlightColor:#fadb14;
$navHover:rgb(226, 200, 180);
$logoTextCoor:rgb(120,115,111)